@import 'fonts';

.book-list{
    margin-top: 105px;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-list__menu{
    background: #efeef6;
    height: 710px;
    left: 0;
    position: absolute;
    width: 416px;
}

.book-list__menu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 7px;
    color: #5C6A79;
    font-family: $montserratMedium;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    padding: 28px 23px 32px 152px;
}

.book-list__button{
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.book-list__button:hover,
.book-list__button_active{
    color: #1C2A39;
    font-family: $montserratBold;
    font-size: 1rem;
}

.active{
    list-style-type: disc;
}

.book-list__load{
    font-family: $montserratBold;
    text-transform: uppercase;
    font-size: 0.5rem;
    border: 1px solid #4C3DB2;
    width: 176px;
    height: 45px;
    background: transparent;
    color:#4C3DB2;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 84px;
    align-self: center;
    margin-left: 217px;
}

.book-list__load:hover{
    color: #EFEEF6;
    background: #4C3DB2;
}

@media (max-width: 1024px){
    .book-list__menu{
        width: 316px;
    }

    .book-list__menu ul{
        padding-left: 55px;
    }

    .book-list__content {
        justify-content: center;
    }
}

@media (max-width: 768px){
    .book-list__menu ul{
        padding-left: 27px;
    }
}

@media (max-width: 425px){
    .book-list{
        margin-top: 50px;
    }

    .book-list__menu{
        height: auto;
        position: relative;
        width: auto;
        border-radius: 16px;
    }

    .book-list__menu ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .active{
        list-style: none;
    }

    .book-list__button{
        font-size: 10px;
        height: 15px;
    }

    .book-list__load{
        margin-left: 0;
    }

    .book-list__button:hover,
    .book-list__button_active{
        color: #1C2A39;
        font-family: $montserratBold;
        font-size: 0.8rem;
    }

    .active{
        list-style-type: none;
    }
}

