@import 'fonts';

.book-list__content{
    position: relative;
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    z-index: 1;
    align-self: flex-start;
    margin-left: 200px;
    margin-top: 40px;
}

.book-card{
    display: flex;
    gap: 36px;
    font-family: $openSans;
    color: #5C6A79;
    text-transform: capitalize;
    height: 330px;
}

.book-card img{
    width: 198px;
}

.book-card__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 176px;
    padding-top: 70px;
    font-size: 0.625rem;
}

.book-card__name{
    font-family: $montserratBold;
    font-size: 1rem;
    text-transform: none;
    margin: 0;
}

.book-card_author{
    margin: 0;
}

.book-card__rating{
    display: flex;
    gap: 6px;
    font-size: 0.625rem;
}

.book-card__star{
    font-size: 1.25rem;
    margin: 0;
}

.book-card__price{
    font-family: $montserratBold;
    font-size: 0.8125rem;
    color: #1C2A39;
}

.book-card__button{
    width: 176px;
    height: 45px;
    border: 1px solid #4C3DB2;
    background: transparent;
    color: #4C3DB2;
    font-family: $montserratBold;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.book-card__button:hover{
    color: #EFEEF6;
    background: #4C3DB2;
}

.book-card__button_active{
    border: 1px solid #EEEDF5;
    color: #5C6A79;
}

.book-card__description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 42px;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

@media (max-width: 426px){
    .book-list__content{
        margin-left: 0;
        align-self: flex-end;
    }

    .book-card{
        gap: 10px;
    }

    .book-card img{
        width: 159px;
        height: 258px;
    }

    .book-card__info{
        padding-top: 10px;
    }
}

@media(max-width: 376px){
    .book-list__content{
        align-self: baseline;
    }

    .book-card__info,
    .book-card__button{
        width: 150px;
    }
}

@media(max-width: 320px){
    .book-list__content{
        align-self: flex-end;
    }

    .card__info{
        width: 120px;
        padding: 0;
    }

    .book-card__name{
        margin: 3px 0;
    }

    .book-card__button,
    .book-card__info{
        width: 120px;
    }
}