@font-face {
	font-family: 'Montserrat Medium'; 
	src: 
        url('../../fonts/Montserrat/Montserrat-Medium.woff'),
        url('../../fonts/Montserrat/Montserrat-Medium.ttf'); 
}

@font-face {
	font-family: 'Montserrat Bold'; 
	src: 
        url('../../fonts/Montserrat/Montserrat-Bold.woff'),
        url('../../fonts/Montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
	font-family: 'Montserrat Black'; 
	src: 
        url('../../fonts/Montserrat/Montserrat-Black.woff'),
        url('../../fonts/Montserrat/Montserrat-Black.ttf'); 
}

@font-face {
	font-family: 'Open Sans'; 
	src: 
        url('../../fonts/Open_Sans/OpenSans.woff'),
        url('../../fonts/Open_Sans/OpenSans.ttf'); 
}

$montserratMedium: 'Montserrat Medium';
$montserratBold: 'Montserrat Bold';
$montserratBlack:'Montserrat Black';
$openSans: 'Open Sans';
