@import 'fonts';

:root{
    font-size: 10px;
    box-sizing:border-box;
}

.container{
    max-width: 1440px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.container_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1120px;
}

.header{
    font-family: $montserratBold;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #5C6A79;
    text-transform: uppercase;
}

.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: none;
}

.header__logo_text{
    font-size: 24px;
    color: #1C2A39;
}

.header__menu-mob{
    display: none;
}

.header__links{
    font-family: $montserratBlack;
    list-style: none;
    display: flex;
    gap: 4em;
    text-transform: uppercase;
    font-weight: 900;
}

.header__link_item{
    text-decoration: none;
    color: inherit;
}

.header__link_item:hover,
.header__link_item:active,
.header__link_item:focus{
    color: #1C2A39;
}

.header__active{
    color: #1C2A39;
}

.header__icons{
    list-style: none;
    display: flex;
    gap: 4em;
}

.header__purchase-counter{
    position: absolute;
    display: none;
    font-family: $montserratMedium;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    width: 13px;
    height: 13px;
    background: #FF353A;
    border-radius: 6px;
    z-index: 1;
    bottom: 0;
    right: 2px;
}

.header__img-link:last-child{
    position: relative;
}

.header__img:hover{
    scale: 1.5;
}

@media (max-width: 1024px){
    body{
        margin: 0;
    }

    .container{
        padding: 0 30px;
        box-sizing: border-box;
    }

    .header__navigation{
        width: 900px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px){
    .header__navigation{
        width: 700px;
    }
}

@media (max-width: 425px){
    .header__navigation{
        width: 370px;
        position: relative;
    }

    .header__logo_text{
        font-size: 14px;
    }

    .header__links{
        flex-direction: column;
        gap: 5px;
        font-size: 8px;
        position: absolute;
        z-index: 1;
        left: calc(50% - 41px);
        top: 24px;
        background: #efeef6;
        padding: 10px;
        border-radius: 6px;
    
    }

    .header__icons{
        gap: 10px;
    }

    .slider__container{
        width: 370px;
    }

    .header__menu-mob{
        display: block;
        cursor: pointer;
    }

    .hide{
        display: none;
    }
    
}

@media(max-width:375px){
    .header__navigation{
        width: 340px;
    }
}

@media(max-width:320px){
    .container{
        padding: 0 10px;
    }
    
    .header__navigation{
        width: 280px;
    }
}