@import 'fonts';

:root{
    font-size: 10px;
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.container_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1120px;
}

.header{
    font-family: $montserratBold;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #5C6A79;
    text-transform: uppercase;
}

.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: none;
}

.header__logo_text{
    font-size: 24px;
    color: #1C2A39;
}

.header__links{
    font-family: $montserratBlack;
    list-style: none;
    display: flex;
    gap: 4em;
    text-transform: uppercase;
    font-weight: 900;
}

.header__link_item{
    text-decoration: none;
    color: inherit;
}

.header__link_item:hover,
.header__link_item:active,
.header__link_item:focus{
    color: #1C2A39;
}

.header__active{
    color: #1C2A39;
}

.header__icons{
    list-style: none;
    display: flex;
    gap: 4em;
}

.header__img:hover{
    scale: 1.5;
}