@import 'fonts';

.slider{
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 18px;
}

.slider__container{
    overflow: hidden;
}

.slider__tape{
    display: flex;
    width: 3360px;
    height: 702px;
}

.slider__tape img{
    width: 1120px;
    height: 702px;
}

.slider__card-link_violet,
.slider__card-link_pink{
    position: absolute;
    display: flex;
    align-items: end;
    font-family: $montserratBold;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #1c2a39;
    background-image: url("/src/image/slider/arrow.svg");
    background-repeat: no-repeat;
    text-decoration: none;
}

.slider__card-link_violet{
    background-color: #9e98dc;
    background-position: bottom 19px left 20px;
    height: 66px;
    padding: 102px 20px 36px;
    right: 74px;
    top: 174px;
    width: 109px;
}

.slider__card-link_pink{
    background-color: #ff8fe6;
    background-position: bottom 19px left 21px;
    height: 88px;
    padding: 149px 47px 36px 21px;
    right: 0;
    width: 68px;
    top: 454px;
}

.header__control-panel{
    display: flex;
    justify-content: center;
    gap: 14px;
}

.header__dot-button{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: none;
    background: #EFEEF6;
    cursor: pointer;
}

.header__dot-button_active{
    background: #9E98DC;
}

@media (max-width: 1024px){
    .slider{
        align-items: center;
    }

    .slider__container{
        width: 900px;
    }

    .slider__tape{
        height: 600px;
        width: 1800px;
    }

    .slider__tape img{
        width: 900px;
        height: 600px;
    }
}