@import 'fonts';

.slider{
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 18px;
}

.slider__container{
    overflow: hidden;
}

.slider__tape{
    display: flex;
    width: 3360px;
    height: 702px;
}

.slider__tape img{
    width: 1120px;
    height: 702px;
    flex-shrink: 0;
}

.slider__card-link_violet,
.slider__card-link_pink{
    position: absolute;
    display: flex;
    align-items: end;
    font-family: $montserratBold;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #1c2a39;
    background-image: url("/src/image/slider/arrow.svg");
    background-repeat: no-repeat;
    text-decoration: none;
}

.slider__card-link_violet{
    background-color: #9e98dc;
    background-position: bottom 19px left 20px;
    height: 66px;
    padding: 102px 20px 36px;
    right: 74px;
    top: 174px;
    width: 109px;
}

.slider__card-link_pink{
    background-color: #ff8fe6;
    background-position: bottom 19px left 21px;
    height: 88px;
    padding: 149px 47px 36px 21px;
    right: 0;
    width: 68px;
    top: 454px;
}

.header__control-panel{
    display: flex;
    justify-content: center;
    gap: 14px;
}

.header__dot-button{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: none;
    background: #EFEEF6;
    cursor: pointer;
}

.header__dot-button_active{
    background: #9E98DC;
}

@media (max-width: 1024px){
    .slider{
        align-items: center;
    }

    .slider__container{
        width: 900px;
    }

    .slider__tape{
        height: 600px;
        width: 2700px;
    }

    .slider__tape img{
        width: 900px;
        height: 600px;
    }

}

@media (max-width: 768px){
    .slider__container{
        width: 700px;
    }

    .slider__tape{
        width: 2100px;
        height: 400px;
    }

    .slider__tape img{
        width: 700px;
        height: 400px;
    }

    .slider__card-link_violet,
    .slider__card-link_pink{
        padding-top: 15px;
        padding-left: 5px;
        font-size: 14px;
        width: auto;
    }

    .slider__card-link_violet{
        top: 115px;
    }

    .slider__card-link_pink{
        top: 345px;
    }
}

@media (max-width: 425px){
    .slider__container{
        width: 370px;
    }

    .slider__tape{
        width: 1110px;
        height: 170px;
    }

    .slider__tape img{
        height: 170px;
        width: 370px;
    }

    .slider__card-link_violet,
    .slider__card-link_pink{
        background-size: 40%;
        padding: 5px 5px 10px;
        font-size: 8px;
        box-sizing: border-box;
    }

    .slider__card-link_violet{
        background-position-x: 6px;
        background-position-y: 41px;
        height: 50px;
        top: 93px;
        right: 20px;
    }

    .slider__card-link_pink{
        background-position-x: 6px;
        background-position-y: 65px;
        font-size: 8px;
        height: 60px;
        top: 180px;
    }

    .header__dot-button_active {
        height: 12px;
        width: 12px;
    }
}

@media(max-width:375px){
    .slider__container{
        width: 340px;
    }

    .slider__tape{
        width: 1020px;
    }

    .slider__tape img{
        width: 340px;
    }
}

@media(max-width:320px){
    .slider__container{
        width: 280px;
    }
    
    .slider__tape{
        width: 840px;
    }

    .slider__tape img{
        width: 280px;
    }
}

